**/Cached Messages/*
*.json
**/venv-nuked/*
*.code-workspace
*.gitignore
commands/utility/__pycache__/bump.cpython-39.pyc
commands/utility/__pycache__/bump.cpython-310.pyc
commands/utility/__pycache__/cacheall.cpython-39.pyc
commands/utility/__pycache__/cacheall.cpython-310.pyc
commands/utility/__pycache__/latency.cpython-39.pyc
commands/utility/__pycache__/latency.cpython-310.pyc
commands/utility/__pycache__/light.cpython-39.pyc
commands/utility/__pycache__/light.cpython-310.pyc
commands/utility/__pycache__/prefix.cpython-39.pyc
commands/utility/__pycache__/prefix.cpython-310.pyc
commands/utility/__pycache__/purge.cpython-39.pyc
commands/utility/__pycache__/purge.cpython-310.pyc
commands/utility/__pycache__/reload.cpython-39.pyc
commands/utility/__pycache__/reload.cpython-310.pyc
commands/utility/__pycache__/settings.cpython-39.pyc
commands/utility/__pycache__/settings.cpython-310.pyc
commands/utility/__pycache__/splash.cpython-39.pyc
commands/utility/__pycache__/splash.cpython-310.pyc
commands/utility/__pycache__/status.cpython-39.pyc
commands/utility/__pycache__/status.cpython-310.pyc
commands/fun/__pycache__/spam.cpython-310.pyc
commands/fun/__pycache__/spam.cpython-39.pyc
commands/fun/__pycache__/linespam.cpython-310.pyc
commands/fun/__pycache__/linespam.cpython-39.pyc
commands/fun/__pycache__/joke.cpython-310.pyc
commands/fun/__pycache__/joke.cpython-39.pyc
commands/fun/__pycache__/embed.cpython-310.pyc
commands/fun/__pycache__/embed.cpython-39.pyc
commands/fun/__pycache__/ascii.cpython-310.pyc
commands/fun/__pycache__/ascii.cpython-39.pyc
